<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="logging.path" defaultValue="./log"/>
    <springProperty scope="context" name="LOG_NAME" source="logging.file.name" defaultValue="methodologist.log"/>
    <springProperty scope="context" name="LOG_ROLLING_FILE_NAME"
                    source="logging.pattern.rolling-file-name" defaultValue="methodologist-%d{yyyy-MM-dd}.%i.log"/>
    <springProperty scope="context" name="LOG_MAX_SIZE" source="logging.file.max-size" defaultValue="5MB"/>
    <springProperty scope="context" name="LOG_MAX_HISTORY" source="logging.file.max-history" defaultValue="100"/>
    <springProperty scope="context" name="LOG_CLEAN_HISTORY_ON_START"
                    source="logging.file.clean-history-on-start" defaultValue="false"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}</file>
        <layout class="net.logstash.logback.layout.LogstashLayout"/>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>ts</timestamp>
                <message>msg</message>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
                <logger>logger</logger>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_ROLLING_FILE_NAME}</fileNamePattern>
            <maxFileSize>${LOG_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <cleanHistoryOnStart>${LOG_CLEAN_HISTORY_ON_START}</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>-->
<!--                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger - %msg%n-->
<!--            </pattern>-->
            <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %thread | %highlight(%-5level) | %logger |  %X{traceId:-} | "%X{spanId:-}" | methodologist | %m%n</pattern>
        </encoder>
    </appender>

    <root level="info" >
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>

